{
    "options": {
        "type": "{{.Type}}",
        "path": "{{.Path}}"
    },
    "dockerImage":{
        "buildBaseImage": "{{.BuildBaseImage}}",
        "deployBaseImage": "{{.DeployBaseImage}}"
    },
    "dockerCompose":{
        "appName": "{{.AppName}}"
    }
}